ul {
  text-decoration: none;
  list-style-type: none;
}

.hero--section {
  background: linear-gradient(
      134deg,
      rgba(139, 7, 7, 0.4),
      rgb(0, 0, 0,0.8),
      rgb(205, 77, 77, 0.3)
    ),
    url("./assets/portfolioBg.jpg");
  background-size: cover;
  height: 100vh;
  overflow: auto;
  position: fixed;
  width: 100vw;
}

@font-face {
  font-family: "Stanley";
  src: url("../../fonts/StanleyPersonalUse-BWnRd.ttf") format("truetype");
}

.my--name {
  font-family: "Stanley", sans-serif;
  font-size: 80px;
  font-weight: 800;
  position: relative;
  /* background-color: yellow; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(248, 24, 24);
  word-spacing:"70px"
}

.colored {
 /* font-family: "Anton", sans-serif; */
 letter-spacing: 0.1cm;
 font-weight: 600;
 animation: animate-webkitstrokes 4s infinite alternate;
}

@keyframes animate-webkitstrokes {
  0% {
    fill: transparent;
    stroke: rgb(251, 10, 10);
    stroke-width: 2px;
    stroke-dashoffset: 100%;
    stroke-dasharray: 0 100%;
  }
  100% {
    fill: rgba(234, 62, 24, 0.5);
    stroke: transparent;
    stroke-width: 0;
    stroke-dashoffset: 0;
    stroke-dasharray: 100% 0;
  }
}


.app--container {
  background-color: white;
  position: relative;
  
}

.app--content--container {
  width: 70vw;
  padding: 3rem;
  margin: 0 auto;
  position: relative;
  /* margin-top: 80vh; */
}

.techstack{
  background-color: rgb(255, 255, 0,0.4);
  padding: 50px;
  margin-top: 100px;
}

.v--line{
  display: flex;
  justify-content: end;
  
}