span {
  display: block;
}

@font-face {
  font-family: "Stanley";
  src: url("../../fonts/StanleyPersonalUse-BWnRd.ttf") format("truetype");
}

.custom-font {
  font-family: "Stanley", sans-serif;
  font-size: 50px;
  font-weight: 800;
}

.about--content{
    line-height: 50px;
    font-size: 25px;
    display: grid;
margin-top: -20px;    
color: rgb(45, 44, 44);
}
